name: Build AppImage ARM64
on:
  workflow_dispatch:

jobs:
  version:
    runs-on: ubuntu-22.04   # vẫn dùng runner x64 bình thường
    steps:
      - uses: actions/checkout@v2

      - name: Install libfuse2
        run: sudo apt-get install -y libfuse2 imagemagick

      - name: Build ARM64
        uses: valicm/appimage-bash@main
        with:
          version_url: "https://code.visualstudio.com/sha/download?build=stable&os=linux-arm64"
          version_file: "resources/app/package.json"
          version_bash: "jq -r .version"
          version_icon: "code.png"
      - name: Upload artifact
        if: ${{ env.APP_UPDATE_NEEDED == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.APP_SHORT_NAME }}.AppImage
          path: 'dist'
      - name: Release
        if: ${{ env.APP_UPDATE_NEEDED == 'true' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          title: ${{ env.APP_NAME }} AppImage ${{ env.APP_VERSION }}
          automatic_release_tag: latest
          prerelease: false
          files: |
            dist/
          repo_token: ${{ secrets.GITHUB_TOKEN }}
